<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>꽃 생존 게임</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div id="flower"></div>
    <div id="gaugeContainer">
        <div id="target"></div>
        <div id="gauge"></div>
    </div>
    <button id="controlButton" onclick="stopGauge()">멈추기</button>
    <div id="message"></div>
    <script src="/javascripts/main.js"></script>
</body>
</html>
